# JIRA Personal Access Token
# Get your token from: https://myjira.disney.com/secure/ViewProfile.jspa?selectedTab=com.atlassian.pats.pats-plugin:jira-user-personal-access-tokens
JIRA_PAT=your_jira_personal_access_token_here
