# MyWiki (mywiki.disney.com) Configuration
# Get your token from: https://mywiki.disney.com/plugins/personalaccesstokens/usertokens.action
CONFLUENCE_URL=https://mywiki.disney.com
CONFLUENCE_PAT=your_mywiki_personal_access_token
